{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telemin – автопостинг контента в Telegram канал</title>
    <link rel="shortcut icon" href="img/vs_code.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap"
        rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <a href="." class="header__logo">
                    <img src="{% static 'img/yandex_logo.svg' %}" alt="Логотип" />
                </a>
                <nav class="header__menu menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="" class="menu__link">Пост</a></li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Мой профиль</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Как это работает</a>
                        </li>
                        <li class="menu__item"><a href="" class="menu__link">Комьюнити</a></li>
                    </ul>
                </nav>
                <div class="header__button">
                    <a href="" class="button button_dark">Для разработчиков</a>
                </div>
                <a href=""><img src="{% static 'img/avatar.png' %}" alt="" class="avatar" /></a>
            </div>
        </header>
        <main class="main">
            <div class="get_started">
                <div class="get_started__container">
                    {% block test %}{% endblock %}
                </div>
            </div>
        </main>
        <footer class="footer">
            Footer
        </footer>
    </div>
</body>

</html>